body {
  margin: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.warmachine {
  border-style: solid;
  padding-left: 10px;
  margin-right: 300px;
}

.hero-list {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.character-img{
  border-radius: 5%
}

.character-info {
  padding-left: 20px;
}

.individual-card {
  display: flex;
  justify-content: flex-start;
}